<!doctype html>
<html lang="{{lang}}">
    {{> head}}
    <body id="body-anchor">
        <main>
            <div class="breakdown fadein-1">
                <a
                    draggable="false"
                    href="../#bruxelles-ma-belle-section"
                    class="breakdown-closebtn rotate-hover-1"
                    ><img
                        draggable="false"
                        src="https://assets.vangarsse.com/image/svg/cross-neutral-100.svg"
                        alt=""
                /></a>

                <div class="title">{{caseStudy.bruxellesMaBelle.title}}</div>
                <div class="year">{{caseStudy.bruxellesMaBelle.year}}</div>

                <div class="subtitle">
                    {{caseStudy.bruxellesMaBelle.subtitle1}}
                </div>
                <div class="paragraph">
                    {{caseStudy.bruxellesMaBelle.paragraph1}}
                    <br />
                    <br />
                    {{caseStudy.bruxellesMaBelle.paragraph2}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/bruxelles-ma-belle/small/2.jpg"
                    data-src="https://assets.vangarsse.com/image/work/bruxelles-ma-belle/full/2.jpg"
                    alt=""
                />

                <div class="subtitle">
                    {{caseStudy.bruxellesMaBelle.subtitle2}}
                </div>
                <div class="paragraph">
                    {{caseStudy.bruxellesMaBelle.paragraph3}}
                    <br />
                    <br />
                    {{caseStudy.bruxellesMaBelle.paragraph4}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/bruxelles-ma-belle/small/3.jpg"
                    data-src="https://assets.vangarsse.com/image/work/bruxelles-ma-belle/full/3.jpg"
                    alt=""
                />

                <div class="subtitle">
                    {{caseStudy.bruxellesMaBelle.subtitle3}}
                </div>
                <div class="paragraph">
                    {{caseStudy.bruxellesMaBelle.paragraph5}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/bruxelles-ma-belle/small/4.jpg"
                    data-src="https://assets.vangarsse.com/image/work/bruxelles-ma-belle/full/4.jpg"
                    alt=""
                />

                <div class="subtitle">
                    {{caseStudy.bruxellesMaBelle.subtitle4}}
                </div>
                <div class="paragraph">
                    {{caseStudy.bruxellesMaBelle.paragraph6}}
                </div>
                <div class="subtitle">
                    {{caseStudy.bruxellesMaBelle.subtitle5}}
                </div>
                <div class="paragraph">
                    {{caseStudy.bruxellesMaBelle.paragraph7}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/bruxelles-ma-belle/small/1.jpg"
                    data-src="https://assets.vangarsse.com/image/work/bruxelles-ma-belle/full/1.jpg"
                    alt=""
                />
            </div>
        </main>
        {{> scripts}}
    </body>
</html>
