<!doctype html>
<html lang="{{lang}}">
    {{> head}}
    <body id="body-anchor">
        {{> header}} {{> page-loader}} {{> popdown-menu}} {{> dropdown-menu}}

        <main>
            <div class="landing-page-mobile">
                {{landingPage.descriptionStatic}}
            </div>
            <div class="landing-page-desktop words-en" id="move-in-letters">
                {{landingPage.descriptionDynamic}}
            </div>
            <section class="projects">
                {{#each projects}} {{> project-card}} {{/each}}
            </section>
            {{> about}} {{> skills}} {{> articles}}
        </main>

        {{> artifacts}} {{> footer}} {{> scripts}}
    </body>
</html>
