<!doctype html>
<html lang="{{lang}}">
    {{> head}}
    <body id="body-anchor">
        <main>
            <div class="breakdown fadein-1">
                <a
                    draggable="false"
                    href="../#van-dender-section"
                    class="breakdown-closebtn rotate-hover-1"
                    ><img
                        draggable="false"
                        src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/cross-neutral-100.svg"
                        alt=""
                /></a>
                <div class="title">{{caseStudy.kuLeuven.title}}</div>
                <div class="year">{{caseStudy.kuLeuven.year}}</div>
                <div class="subtitle">{{caseStudy.kuLeuven.subtitle1}}</div>
                <div class="paragraph">
                    {{caseStudy.kuLeuven.paragraph1}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph2}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/kuleuven_1_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/kuleuven_1.jpg"
                    alt=""
                />
                <div class="subtitle">{{caseStudy.kuLeuven.subtitle2}}</div>
                <div class="paragraph">
                    {{caseStudy.kuLeuven.paragraph3}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph4}}
                </div>
                <div class="subtitle">{{caseStudy.kuLeuven.subtitle3}}</div>
                <div class="paragraph">
                    {{caseStudy.kuLeuven.paragraph5}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph6}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph7}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/kuleuven_2_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/kuleuven_2.jpg"
                    alt=""
                />
                <div class="subtitle">{{caseStudy.kuLeuven.subtitle4}}</div>
                <div class="paragraph">{{caseStudy.kuLeuven.paragraph8}}</div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/kuleuven_3_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/kuleuven_3.jpg"
                    alt=""
                />
                <div class="paragraph">{{caseStudy.kuLeuven.paragraph9}}</div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/kuleuven_4_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/kuleuven_4.jpg"
                    alt=""
                />
                <div class="subtitle">{{caseStudy.kuLeuven.subtitle5}}</div>
                <div class="paragraph">
                    {{caseStudy.kuLeuven.paragraph10}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph11}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph12}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph13}}
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    </body>
</html>
