<!doctype html>
<html lang="{{lang}}">
    {{> head}}
    <body id="body-anchor">
        <main>
            <div class="breakdown fadein-1">
                <a
                    draggable="false"
                    href="../#leuven-university-section"
                    class="breakdown-closebtn rotate-hover-1"
                    ><img
                        draggable="false"
                        src="https://assets.vangarsse.com/image/svg/cross-neutral-100.svg"
                        alt=""
                /></a>
                <div class="title">{{caseStudy.kuLeuven.title}}</div>
                <div class="year">{{caseStudy.kuLeuven.year}}</div>
                <div class="subtitle">{{caseStudy.kuLeuven.subtitle1}}</div>
                <div class="paragraph">
                    {{caseStudy.kuLeuven.paragraph1}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph2}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/kuleuven/small/1.jpg"
                    data-src="https://assets.vangarsse.com/image/work/kuleuven/full/1.jpg"
                    alt=""
                />
                <div class="subtitle">{{caseStudy.kuLeuven.subtitle2}}</div>
                <div class="paragraph">
                    {{caseStudy.kuLeuven.paragraph3}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph4}}
                </div>
                <div class="subtitle">{{caseStudy.kuLeuven.subtitle3}}</div>
                <div class="paragraph">
                    {{caseStudy.kuLeuven.paragraph5}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph6}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph7}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/kuleuven/small/2.jpg"
                    data-src="https://assets.vangarsse.com/image/work/kuleuven/full/2.jpg"
                    alt=""
                />
                <div class="subtitle">{{caseStudy.kuLeuven.subtitle4}}</div>
                <div class="paragraph">{{caseStudy.kuLeuven.paragraph8}}</div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/kuleuven/small/3.jpg"
                    data-src="https://assets.vangarsse.com/image/work/kuleuven/full/3.jpg"
                    alt=""
                />
                <div class="paragraph">{{caseStudy.kuLeuven.paragraph9}}</div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/kuleuven/small/4.jpg"
                    data-src="https://assets.vangarsse.com/image/work/kuleuven/full/4.jpg"
                    alt=""
                />
                <div class="subtitle">{{caseStudy.kuLeuven.subtitle5}}</div>
                <div class="paragraph">
                    {{caseStudy.kuLeuven.paragraph10}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph11}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph12}}
                    <br />
                    <br />
                    {{caseStudy.kuLeuven.paragraph13}}
                </div>
            </div>
        </main>
        {{> scripts}}
    </body>
</html>
