<!doctype html>
<html lang="{{lang}}">
    {{> head}}

    <body id="body-anchor">
        <main>
            <div class="breakdown fadein-1">
                <a
                    draggable="false"
                    href="../#van-dender-section"
                    class="breakdown-closebtn rotate-hover-1"
                    ><img
                        draggable="false"
                        src="https://assets.vangarsse.com/image/svg/cross-neutral-100.svg"
                        alt=""
                /></a>
                <div class="title">{{caseStudy.vanDender.title}}</div>
                <div class="year">{{caseStudy.vanDender.year}}</div>
                <div class="subtitle">{{caseStudy.vanDender.subtitle1}}</div>
                <div class="paragraph">
                    {{caseStudy.vanDender.paragraph1}}
                    <br />
                    <br />
                    {{caseStudy.vanDender.paragraph2}}
                    <br />
                    <br />
                    {{caseStudy.vanDender.paragraph3}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/van-dender/small/3.jpg"
                    data-src="https://assets.vangarsse.com/image/work/van-dender/full/3.jpg"
                    alt=""
                />
                <div class="subtitle">{{caseStudy.vanDender.subtitle2}}</div>
                <div class="paragraph">{{caseStudy.vanDender.paragraph4}}</div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/van-dender/small/10.jpg"
                    data-src="https://assets.vangarsse.com/image/work/van-dender/full/10.jpg"
                    alt=""
                />
                <div class="subtitle">{{caseStudy.vanDender.subtitle3}}</div>
                <div class="paragraph">{{caseStudy.vanDender.paragraph5}}</div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/van-dender/small/2.jpg"
                    data-src="https://assets.vangarsse.com/image/work/van-dender/full/2.jpg"
                    alt=""
                />
                <div class="subtitle">{{caseStudy.vanDender.subtitle4}}</div>
                <div class="paragraph">{{caseStudy.vanDender.paragraph6}}</div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/van-dender/small/6.jpg"
                    data-src="https://assets.vangarsse.com/image/work/van-dender/full/6.jpg"
                    alt=""
                />
                <div class="subtitle">{{caseStudy.vanDender.subtitle5}}</div>
                <div class="paragraph">
                    {{caseStudy.vanDender.paragraph7}}
                    <br />
                    <br />
                    {{caseStudy.vanDender.paragraph8}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/van-dender/small/1.jpg"
                    data-src="https://assets.vangarsse.com/image/work/van-dender/full/1.jpg"
                    alt=""
                />
                <div class="subtitle">{{caseStudy.vanDender.subtitle6}}</div>
                <div class="paragraph">
                    {{caseStudy.vanDender.paragraph9}}
                    <br />
                    <br />
                    {{caseStudy.vanDender.paragraph10}}
                    <br />
                    {{caseStudy.vanDender.paragraph11}}
                </div>
            </div>
        </main>
        {{> scripts}}
    </body>
</html>
