<!doctype html>
<html lang="{{lang}}">
    {{> head}}
    <body id="body-anchor">
        <main>
            <div class="breakdown fadein-1">
                <a
                    draggable="false"
                    href="../#verbeek-section"
                    class="breakdown-closebtn rotate-hover-1"
                    ><img
                        draggable="false"
                        src="https://assets.vangarsse.com/image/svg/cross-neutral-100.svg"
                        alt=""
                /></a>

                <div class="title">{{caseStudy.verbeekInterieur.title}}</div>
                <div class="year">{{caseStudy.verbeekInterieur.year}}</div>

                <div class="subtitle">
                    {{caseStudy.verbeekInterieur.subtitle1}}
                </div>
                <div class="paragraph">
                    {{caseStudy.verbeekInterieur.paragraph1}}
                    <br />
                    <br />
                    {{caseStudy.verbeekInterieur.paragraph2}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/verbeek/small/2.jpg"
                    data-src="https://assets.vangarsse.com/image/work/verbeek/full/2.jpg"
                    alt=""
                />

                <div class="subtitle">
                    {{caseStudy.verbeekInterieur.subtitle2}}
                </div>
                <div class="paragraph">
                    {{caseStudy.verbeekInterieur.paragraph3}}
                    <br />
                    <br />
                    {{caseStudy.verbeekInterieur.paragraph4}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/verbeek/small/3.jpg"
                    data-src="https://assets.vangarsse.com/image/work/verbeek/full/3.jpg"
                    alt=""
                />

                <div class="subtitle">
                    {{caseStudy.verbeekInterieur.subtitle3}}
                </div>
                <div class="paragraph">
                    {{caseStudy.verbeekInterieur.paragraph5}}
                    <br />
                    <br />
                    {{caseStudy.verbeekInterieur.paragraph6}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/verbeek/small/4.jpg"
                    data-src="https://assets.vangarsse.com/image/work/verbeek/full/4.jpg"
                    alt=""
                />

                <div class="subtitle">
                    {{caseStudy.verbeekInterieur.subtitle4}}
                </div>
                <div class="paragraph">
                    {{caseStudy.verbeekInterieur.paragraph7}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/verbeek/small/5.jpg"
                    data-src="https://assets.vangarsse.com/image/work/verbeek/full/5.jpg"
                    alt=""
                />
                <div class="paragraph">
                    {{caseStudy.verbeekInterieur.paragraph8}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/verbeek/small/6.jpg"
                    data-src="https://assets.vangarsse.com/image/work/verbeek/full/6.jpg"
                    alt=""
                />

                <div class="subtitle">
                    {{caseStudy.verbeekInterieur.subtitle5}}
                </div>
                <div class="paragraph">
                    {{caseStudy.verbeekInterieur.paragraph9}}
                    <br />
                    <br />
                    {{caseStudy.verbeekInterieur.paragraph10}}
                    <br />
                    <br />
                    {{caseStudy.verbeekInterieur.paragraph11}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/verbeek/small/7.jpg"
                    data-src="https://assets.vangarsse.com/image/work/verbeek/full/7.jpg"
                    alt=""
                />

                <div class="subtitle">
                    {{caseStudy.verbeekInterieur.subtitle6}}
                </div>
                <div class="paragraph">
                    {{caseStudy.verbeekInterieur.paragraph12}}
                    <br />
                    <br />
                    {{caseStudy.verbeekInterieur.paragraph13}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/verbeek/small/8.jpg"
                    data-src="https://assets.vangarsse.com/image/work/verbeek/full/8.jpg"
                    alt=""
                />

                <div class="subtitle">
                    {{caseStudy.verbeekInterieur.subtitle7}}
                </div>
                <div class="paragraph">
                    {{caseStudy.verbeekInterieur.paragraph14}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/verbeek/small/9.jpg"
                    data-src="https://assets.vangarsse.com/image/work/verbeek/full/9.jpg"
                    alt=""
                />

                <div class="subtitle">
                    {{caseStudy.verbeekInterieur.subtitle8}}
                </div>
                <div class="paragraph">
                    {{caseStudy.verbeekInterieur.paragraph15}}
                    <br />
                    <br />
                    {{caseStudy.verbeekInterieur.paragraph16}}
                    <br />
                    <br />
                    {{caseStudy.verbeekInterieur.paragraph17}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://assets.vangarsse.com/image/work/verbeek/small/1.jpg"
                    data-src="https://assets.vangarsse.com/image/work/verbeek/full/1.jpg"
                    alt=""
                />
            </div>
        </main>
        {{> scripts}}
    </body>
</html>
