<!doctype html>
<html lang="{{lang}}">
    {{> head}}
    <body id="body-anchor">
        <main>
            <div class="breakdown fadein-1">
                <a
                    draggable="false"
                    href="../#verbeek-section"
                    class="breakdown-closebtn rotate-hover-1"
                    ><img
                        draggable="false"
                        src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/cross-neutral-100.svg"
                        alt=""
                /></a>

                <div class="title">{{caseStudy.verbeek.title}}</div>
                <div class="year">{{caseStudy.verbeek.year}}</div>

                <div class="subtitle">{{caseStudy.verbeek.subtitle1}}</div>
                <div class="paragraph">
                    {{caseStudy.verbeek.paragraph1}}
                    <br />
                    <br />
                    {{caseStudy.verbeek.paragraph2}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_2_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_2.jpg"
                    alt=""
                />

                <div class="subtitle">{{caseStudy.verbeek.subtitle2}}</div>
                <div class="paragraph">
                    {{caseStudy.verbeek.paragraph3}}
                    <br />
                    <br />
                    {{caseStudy.verbeek.paragraph4}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_3_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_3.jpg"
                    alt=""
                />

                <div class="subtitle">{{caseStudy.verbeek.subtitle3}}</div>
                <div class="paragraph">
                    {{caseStudy.verbeek.paragraph5}}
                    <br />
                    <br />
                    {{caseStudy.verbeek.paragraph6}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_4_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_4.jpg"
                    alt=""
                />

                <div class="subtitle">{{caseStudy.verbeek.subtitle4}}</div>
                <div class="paragraph">{{caseStudy.verbeek.paragraph7}}</div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_5_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_5.jpg"
                    alt=""
                />
                <div class="paragraph">{{caseStudy.verbeek.paragraph8}}</div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_6_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_6.jpg"
                    alt=""
                />

                <div class="subtitle">{{caseStudy.verbeek.subtitle5}}</div>
                <div class="paragraph">
                    {{caseStudy.verbeek.paragraph9}}
                    <br />
                    <br />
                    {{caseStudy.verbeek.paragraph10}}
                    <br />
                    <br />
                    {{caseStudy.verbeek.paragraph11}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_7_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_7.jpg"
                    alt=""
                />

                <div class="subtitle">{{caseStudy.verbeek.subtitle6}}</div>
                <div class="paragraph">
                    {{caseStudy.verbeek.paragraph12}}
                    <br />
                    <br />
                    {{caseStudy.verbeek.paragraph13}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_8_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_8.jpg"
                    alt=""
                />

                <div class="subtitle">{{caseStudy.verbeek.subtitle7}}</div>
                <div class="paragraph">{{caseStudy.verbeek.paragraph14}}</div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_9_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_9.jpg"
                    alt=""
                />

                <div class="subtitle">{{caseStudy.verbeek.subtitle8}}</div>
                <div class="paragraph">
                    {{caseStudy.verbeek.paragraph15}}
                    <br />
                    <br />
                    {{caseStudy.verbeek.paragraph16}}
                    <br />
                    <br />
                    {{caseStudy.verbeek.paragraph17}}
                </div>
                <img
                    draggable="false"
                    class="image lazyload"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/placeholder.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/verbeek_1.jpg"
                    alt=""
                />
            </div>
        </main>
        {{> scripts}}
    </body>
</html>
