/* Import base styles */
@import 'base/root.css';
@import 'base/core.css';
@import 'base/reset.css';
@import 'base/animation.css';

/* Import layout styles */
@import 'layout/header.css';
@import 'layout/footer.css';

/* Import component styles */
@import 'components/dropdown-menu.css';
@import 'components/landing-page.css';
@import 'components/page-loader.css';
@import 'components/breakdown.css';
@import 'components/contact-page.css';
@import 'components/collapsible.css';
@import 'components/articles.css';
@import 'components/back-to-top.css';
@import 'components/about.css';
@import 'components/artifacts.css';
@import 'components/showcase.css';
@import 'components/popdown-menu.css';
@import 'components/like-button.css';

/* Import utility styles */
@import 'utilities/spacing.css';



/*================== RED OUTLINE ====================*/


/* @media only screen and (min-width: 0px) and (max-width: 550px) {
 * { outline: 1px dotted rgba(255,0,0,0.4) !important; }
}

@media only screen and (min-width: 800px) and (max-width: 850px) {
 * { outline: 1px dotted rgba(255,0,0,0.4) !important; }
}

@media only screen and (min-width: 1400px) and (max-width: 1450px) {
 * { outline: 1px dotted rgba(255,0,0,0.4) !important; }
}

@media only screen and (min-width: 1850px) and (max-width: 1900px) {
 * { outline: 1px dotted rgba(255,0,0,0.4) !important; }
}

@media only screen and (min-width: 1px) {.debug-mode {display: block;}} */


/*====================================================*/