.breakdown {
  max-width: 1200px;
  max-width: 60ch;
  padding: 70px 0 160px 0;
  display: flex;
  flex-direction: column;
}

.breakdown-closebtn {
  position: fixed;
  top: 3rem;
  right: 11vw;
  width: 40px;
  padding: 10px;
}

.breakdown .title,
.breakdown .year,
.breakdown .subtitle,
.breakdown .paragraph {
  padding: 0 2px; /* optical adjustment towards images */
}

.breakdown .title {
  margin: 5rem 0 1rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--fs-h4);
  color: var(--clr-accent);
}

.breakdown .year {
  margin: 0 0 3rem 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2rem;
  font-size: var(--fs-base);
  color: var(--clr-mono-50);
}

.breakdown .subtitle {
  margin: 1rem 0 2rem 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2rem;
  font-size: var(--fs-base);
  color: var(--clr-accent);
}

.breakdown .paragraph {
  margin: 1rem 0;
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  line-height: 1.6em;
  color: var(--clr-mono-8);
}

.breakdown .image,
.breakdown .video {
  margin: 3rem 0;
  border-radius: 20px;
  background: var(--clr-placeholder);
}

.breakdown .video {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9; /* Adjust to your video's aspect ratio */
  object-fit: cover;   /* Ensures video content fits the element */
}

.breakdown .outline {
  outline: 4px solid #ecc4a1;
}

.breakdown .small {
  margin: 4vw calc(15vw - 100px);
}



@media only screen and (max-width: 900px) {

  .breakdown {
    width: 85%;
    padding: 30px 0 100px 0;
  }

  .breakdown-closebtn {
    /* position: absolute; */
    top: 2rem;
  }

  .breakdown-arrowleftbtn,
  .breakdown-arrowrightbtn
   {
    display: none;
  }

  .breakdown .image,
  .breakdown .video {
    padding: 0;
    margin: 40px 0 20px 0;
  }

  .breakdown .title {
    font-size: var(--fs-h5);
    font-weight: var(--fw-medium);
  }

  .breakdown .subtitle {
    margin: 2rem 0 30px 0;
  }

  .breakdown .paragraph {
    line-height: 1.7em;
  }

}