
.collapsible {
  max-width: 900px;
  margin: 0 60px;
  width: 80%;
}

.collapsible * {
  font-size: var(--fs-h5);
  font-weight: var(--fw-regular);
}

.collapsible button {
  background-color: var(--clr-white);
  color: var(--clr-black);
  cursor: pointer;
  padding: 0 0 40px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--clr-mono-90);
  text-align: left;
  outline: none;
}

.active, .collapsible button:hover {
  color: var(--clr-mono-30);
}

.collapsible button:after {
  content: '\002B';
  color: var(--clr-black);
  float: right;
  margin-left: 5px;
}

.collapsible button.active:after {
  content: '\2212';
}

.collapsible .content {
  max-height: 0;
  margin: 20px 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible .content div {
  margin: 30px 0;
}

.collapsible .obscured {
  color: var(--clr-mono-46);
  font-weight: var(--fw-regular-optical-gray-on-white);
}

.collapsible .content>*:last-child {
  margin-bottom: 70px;
}

@media only screen and (max-width: 600px) {

  .collapsible {
    margin: 0 40px;
    width: 80%;
  }

  .collapsible button {
    padding: 0 0 30px 0;
  }

  .collapsible .content {
    margin: 15px 0;
  }

  .collapsible .content div {
    margin: 20px 0;
  }


  .collapsible button {
    font-size: var(--fs-h5);
  }

  .collapsible .content * {
    font-size: var(--fs-large);
  }

}