.dropdown-menu {
    --bg-color: var(--clr-bg-popdown-menu);
    display: none;
}

@media only screen and (max-width: 800px) {
    .no-scroll {
        overflow: hidden;
        position: fixed;
        width: 100%;
    }

    .dropdown-menu {
        --top-distance: 70px;
        position: fixed;
        z-index: 100;
        left: 50%;
        transform: translateX(-50%);
        top: var(--top-distance);
        width: 90vw;
        height: 0;
        transition: height 0.3s ease;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 10px 0 25px;
        background-color: rgba(
            var(--bg-color),
            var(--bg-color),
            var(--bg-color),
            0.98
        );
        border-radius: 26px;
        backdrop-filter: blur(10px);
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.18);
    }

    .dropdown-menu.open {
        height: calc(350px + 21vh);
    }

    .mobile-menu,
    .mobile-lang {
        margin-left: 20px;
        color: black;
        opacity: 0;
        transform: translateY(-20px);
        transition:
            opacity 0.4s ease,
            transform 0.4s ease;
    }

    a.mobile-menu {
        font-size: var(--fs-h5);
        font-weight: var(--fw-book);
    }

    p.mobile-menu {
        font-size: var(--fs-base);
        font-weight: var(--fw-book);
    }

    /* Apply staggered delay using nth-child */
    .mobile-menu:nth-child(1) {
        margin-top: 30px;
        transition-delay: 0.1s;
    }

    .mobile-menu:nth-child(2) {
        transition-delay: 0.15s;
    }

    .mobile-menu:nth-child(3) {
        transition-delay: 0.2s;
    }

    .mobile-menu:nth-child(4) {
        transition-delay: 0.25s;
    }

    .mobile-menu:nth-child(5) {
        margin-top: 15px;
        transition-delay: 0.3s;
    }

    .mobile-menu:nth-child(6) {
        transition-delay: 0.35s;
    }

    .mobile-lang {
        margin-top: 20px;
        transition-delay: 0.4s;
    }

    .dropdown-menu.open .mobile-menu,
    .dropdown-menu.open .mobile-lang {
        opacity: 1;
        transform: translateY(0);
    }
}
