/* ----------------  Fade in #1 */
.fadein-1 {
  opacity: 0;
  animation: fadein-1 1s ease 0.1s 1 normal forwards;
}

@keyframes fadein-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

/* ----------------  Fade in #2 - Side Widget Slow*/
.fadein-2 {
  opacity: 0;
  animation: fadein-2 1s ease 2s 1 normal forwards;
}

@keyframes fadein-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

/* ----------------  Fade in #3 - Side Widget Fast*/
.fadein-3 {
  opacity: 0;
  animation: fadein-3 1s ease 0.5s 1 normal forwards;
}

@keyframes fadein-3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

/* ----------------  Fade in #2 */
.fadein-4 {
  opacity: 0;
  animation: fadein-4 1s ease 2.5s 1 normal forwards;
}

@keyframes fadein-4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

/* ----------------  Fade in from Bottom Right #1 */
.fadein-br-1 {
  opacity: 0;
  animation: fadein-br-1 2s cubic-bezier(0,1,0,1) 0.7s 1 normal forwards;
}

@keyframes fadein-br-1 {
  0% {
    opacity: 0;
    transform: translate(50px, 40px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

/* ----------------  Fade in from Bottom Center #1 */
.fadein-bc-1 {
  opacity: 0;
  animation: fadein-bc-1 1s cubic-bezier(0,.8,1,1) 0.5s 1 normal forwards;
}

@keyframes fadein-bc-1 {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------  Fade in from Bottom Center #2 */
.fadein-bc-2 {
  opacity: 0;
  animation: fadein-bc-2 1.5s cubic-bezier(0,1,1,1) 1.5s 1 normal forwards;
}

@keyframes fadein-bc-2 {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ----------------  Fade in from Bottom Center #3 */
.fadein-bc-3 {
  opacity: 0; /* Fade in */
  animation: fadein-bc-3 0.5s cubic-bezier(0,0,0,1) 0.2s normal forwards; /* Trigger the animation */
}

@keyframes fadein-bc-3 {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------  Fade in from Bottom Center #4 */
.fadein-bc-4 {
  opacity: 0;
  animation: fadein-bc-4 1.5s cubic-bezier(0,.8,1,1) 1s 1 normal forwards;
}

@keyframes fadein-bc-4 {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------  Fade in from Trigger #1 */
.fadein-tr-1 {
  opacity: 0; /* Fade in */
  animation: fadein-tr-1 0.5s cubic-bezier(0,0,0,1) 0.2s normal forwards; /* Trigger the animation */
}

@keyframes fadein-tr-1 {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------  Fade in from Trigger #2 - for Work page LEFT*/
.fadein-tr-2 {
  opacity: 0; /* Fade in */
  animation: fadein-tr-2 0.5s cubic-bezier(0,0,0,1) 0.3s normal forwards; /* Trigger the animation */
}

@keyframes fadein-tr-2 {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------  Fade in from Trigger #3 for Work page RIGHT*/
.fadein-tr-3 {
  opacity: 0; /* Fade in */
  animation: fadein-tr-3 0.5s cubic-bezier(0,0,0,1) 0.5s normal forwards; /* Trigger the animation */
}

@keyframes fadein-tr-3 {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ----------------  Scale in on Hover #1 */
.scale-hover-1,
.scale-hover-1 .partner,
.scale-hover-1 .description,
.scale-hover-1 .lock {
  transition: 0.7s cubic-bezier(0,0,0,1);
}

.scale-hover-1:hover {
  scale: 0.95;
}

.scale-hover-1:hover .partner {
  scale: 1.15;
  transform: translate(15px,10px);
}

.scale-hover-1:hover .description {
  scale: 1.15;
  transform: translate(40px,10px);
}

.scale-hover-1:hover .lock {
  scale: 1.15;
  transform: translate(-10px,10px);
}

/* ----------------  Close button in project view */
.rotate-hover-1 {
  transition: 0.7s cubic-bezier(0,0,0,1);  
}

.rotate-hover-1:hover {
  transform: rotate(90deg);
}

/* ----------------  Left and right arrows in project view */
.budge-left-hover-1,
.budge-right-hover-1 {
  transition: 0.7s cubic-bezier(0,0,0,1);  
}

.budge-left-hover-1:hover {
  transform: translateX(-10px);
}

.budge-right-hover-1:hover {
  transform: translateX(10px);
}

/* ----------------  Letters move in */

#move-in-letters span {
  display: inline-block;            /* important for transforms */
  font-variation-settings: "wght" 1;/* starting weight */
  will-change: transform;           /* smoother motion */
}

/* Animation (adjust timing as needed) */
@keyframes move-in-letters {
  from { /*opacity: 0;*/ transform: translate(30px,10px); }
  to { /*opacity: 1;*/ transform: translate(0,0); }
}

.popdown-move {
  /* Remove the animation property from the base class */
  transform: translateY(-100px); /* Start position */
}

/* ----------------  Pop down of Menu */

/* For moving down */
.popdown-show {
  animation: popdown-move 0.2s ease forwards;
}

/* For moving back up */
.popdown-hide {
  animation: popdown-move 0.2s ease reverse forwards;
}

@keyframes popdown-move {
  0% {
    transform: translate(-50%, -100px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}