<div class="spacer-200"></div>

<h1 class="landing-page-title trigger-1" id="about-section">{{about.title}}</h1>

<div class="about-profile centered trigger-3">
    <img
        class="profile-picture"
        src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/profile/profile-picture.jpg"
    />
</div>
<div class="about-text centered trigger-1">{{about.intro1}}</div>
<div class="about-text centered trigger-2">{{about.intro2}}</div>
<div class="about-text centered trigger-3">{{about.intro3}}</div>

<div class="about-experience centered trigger-3">
    <div class="employer purple">
        <img
            src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/logo-gaia.svg"
        />
        <div>{{about.gaia.employer}}</div>
    </div>
    <div class="title">{{about.gaia.role}}</div>
    <div class="subtitle">
        {{about.gaia.period}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{about.gaia.location}}
    </div>
    <ul class="description">
        <li>{{about.gaia.description1}}</li>
        <li>{{about.gaia.description2}}</li>
        <li>{{about.gaia.description3}}</li>
        <li>{{about.gaia.description4}}</li>
    </ul>
</div>

<div class="about-experience centered trigger-3">
    <div class="employer pink">
        <img
            src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/logo-tristanvangarsse.svg"
        />
        <div>{{about.freelance2.employer}}</div>
    </div>
    <div class="title">{{about.freelance2.role}}</div>
    <div class="subtitle">
        {{about.freelance2.period}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{about.freelance2.location}}
    </div>
    <div class="description">{{about.freelance2.description}}</div>
</div>

<div class="about-experience centered trigger-3">
    <div class="employer blue">
        <img
            class="kul-adjustment"
            src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/logo-kuleuven.svg"
        />
        <div>{{about.kuleuven.employer}}</div>
    </div>
    <div class="title">{{about.kuleuven.role}}</div>
    <div class="subtitle">
        {{about.kuleuven.period}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{about.kuleuven.location}}
    </div>
    <div class="description">{{about.kuleuven.description}}</div>
</div>

<div class="about-experience centered trigger-3">
    <div class="employer yellow">
        <img
            src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/logo-vanmoof.svg"
        />
        <div>{{about.vanmoof.employer}}</div>
    </div>
    <div class="title">{{about.vanmoof.role}}</div>
    <div class="subtitle">
        {{about.vanmoof.period}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{about.vanmoof.location}}
    </div>
    <div class="description">{{about.vanmoof.description}}</div>
</div>

<div class="about-experience centered trigger-3">
    <div class="employer pink">
        <img
            src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/logo-tristanvangarsse.svg"
        />
        <div>{{about.freelance1.employer}}</div>
    </div>
    <div class="title">{{about.freelance1.role}}</div>
    <div class="subtitle">
        {{about.freelance1.period}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{about.freelance1.location}}
    </div>
    <div class="description">{{about.freelance1.description}}</div>
</div>

<div class="spacer-100"></div>

<div class="about-text centered trigger-3">{{about.intro4}}</div>
<div class="about-text centered trigger-3">{{about.intro5}}</div>
<div class="about-text centered trigger-3">{{about.intro6}}</div>
