<div class="spacer-150"></div>

<h1 class="landing-page-title trigger-1">{{articles.title}}</h1>

<div class="spacer-100"></div>

<div class="articles" id="article-section">
    <div class="group">
        <div class="container">
            <div class="image-container">
                <img
                    class="image-content"
                    draggable="false"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/external/google-deepmind-bonsai-extended.jpg"
                    alt=""
                />
            </div>
            <div class="text-content">
                <div class="title">{{articles.card1.title}}</div>
                <div class="description">{{articles.card1.description}}</div>
                <a
                    class="button-link"
                    draggable="false"
                    href="https://medium.com/@tristanvangarsse/design-as-systems-rather-than-outputs-4ad5e680a010"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div>{{articles.link}}</div>
                    <div class="button-link-arrow"></div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="image-container">
                <img
                    class="image-content"
                    draggable="false"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/datastories_1.jpg"
                    alt=""
                />
            </div>
            <div class="text-content">
                <div class="title">{{articles.card2.title}}</div>
                <div class="description">{{articles.card2.description}}</div>
                <a
                    class="button-link"
                    draggable="false"
                    href="https://medium.com/@tristanvangarsse/datastories-098938b86ff1"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div>{{articles.link}}</div>
                    <div class="button-link-arrow"></div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="image-container">
                <img
                    class="image-content"
                    draggable="false"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/flagsoftomorrow_1.jpg"
                    alt=""
                />
            </div>
            <div class="text-content">
                <div class="title">{{articles.card3.title}}</div>
                <div class="description">{{articles.card3.description}}</div>
                <a
                    class="button-link"
                    draggable="false"
                    href="https://medium.com/@tristanvangarsse/flags-of-tomorrow-ac3687f9be5b"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div>{{articles.link}}</div>
                    <div class="button-link-arrow"></div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="image-container">
                <img
                    class="image-content"
                    draggable="false"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/outofsight_1.jpg"
                    alt=""
                />
            </div>
            <div class="text-content">
                <div class="title">{{articles.card4.title}}</div>
                <div class="description">{{articles.card4.description}}</div>
                <a
                    class="button-link"
                    draggable="false"
                    href="https://medium.com/@tristanvangarsse/out-of-sight-98356b7c96fc"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div>{{articles.link}}</div>
                    <div class="button-link-arrow"></div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="image-container">
                <img
                    class="image-content"
                    draggable="false"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/look-up_1_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/look-up_1.jpg"
                    alt=""
                />
            </div>
            <div class="text-content">
                <div class="title">{{articles.card5.title}}</div>
                <div class="description">{{articles.card5.description}}</div>
                <a
                    class="button-link"
                    draggable="false"
                    href="https://medium.com/@tristanvangarsse/generative-timelapse-231af74f647d"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div>{{articles.link}}</div>
                    <div class="button-link-arrow"></div>
                </a>
            </div>
        </div>
    </div>

    <div class="group">
        <div class="container">
            <div class="image-container">
                <img
                    class="image-content"
                    draggable="false"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/external/google-deepmind-bonsai-extended.jpg"
                    alt=""
                />
            </div>
            <div class="text-content">
                <div class="title">{{articles.card1.title}}</div>
                <div class="description">{{articles.card1.description}}</div>
                <a
                    class="button-link"
                    draggable="false"
                    href="https://medium.com/@tristanvangarsse/design-as-systems-rather-than-outputs-4ad5e680a010"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div>{{articles.link}}</div>
                    <div class="button-link-arrow"></div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="image-container">
                <img
                    class="image-content"
                    draggable="false"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/datastories_1.jpg"
                    alt=""
                />
            </div>
            <div class="text-content">
                <div class="title">{{articles.card2.title}}</div>
                <div class="description">{{articles.card2.description}}</div>
                <a
                    class="button-link"
                    draggable="false"
                    href="https://medium.com/@tristanvangarsse/datastories-098938b86ff1"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div>{{articles.link}}</div>
                    <div class="button-link-arrow"></div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="image-container">
                <img
                    class="image-content"
                    draggable="false"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/flagsoftomorrow_1.jpg"
                    alt=""
                />
            </div>
            <div class="text-content">
                <div class="title">{{articles.card3.title}}</div>
                <div class="description">{{articles.card3.description}}</div>
                <a
                    class="button-link"
                    draggable="false"
                    href="https://medium.com/@tristanvangarsse/flags-of-tomorrow-ac3687f9be5b"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div>{{articles.link}}</div>
                    <div class="button-link-arrow"></div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="image-container">
                <img
                    class="image-content"
                    draggable="false"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/outofsight_1.jpg"
                    alt=""
                />
            </div>
            <div class="text-content">
                <div class="title">{{articles.card4.title}}</div>
                <div class="description">{{articles.card4.description}}</div>
                <a
                    class="button-link"
                    draggable="false"
                    href="https://medium.com/@tristanvangarsse/out-of-sight-98356b7c96fc"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div>{{articles.link}}</div>
                    <div class="button-link-arrow"></div>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="image-container">
                <img
                    class="image-content"
                    draggable="false"
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/look-up_1_small.jpg"
                    data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/work/look-up_1.jpg"
                    alt=""
                />
            </div>
            <div class="text-content">
                <div class="title">{{articles.card5.title}}</div>
                <div class="description">{{articles.card5.description}}</div>
                <a
                    class="button-link"
                    draggable="false"
                    href="https://medium.com/@tristanvangarsse/generative-timelapse-231af74f647d"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <div>{{articles.link}}</div>
                    <div class="button-link-arrow"></div>
                </a>
            </div>
        </div>
    </div>
</div>
