<div class="spacer-200"></div>

<div class="alt-section" id="artifacts-section">
    <h1 class="landing-page-title trigger-1">{{artifacts.title}}</h1>

    <div class="artifacts trigger-1">
        {{#each artifactsList}}
        <div>
            {{#if isImage}}
            <img
                class="lazyload"
                draggable="false"
                src="{{thumbSrc}}"
                data-src="{{fullSrc}}"
                alt="{{alt}}"
            />
            {{/if}}

            {{#if isVideo}}
            <video
                id="{{videoId}}"
                class="lazyload"
                autoplay=""
                loop=""
                muted=""
                playsinline=""
                poster="{{poster}}"
            >
                {{videoSources}}
                Your browser doesn't support HTML5 video.
            </video>
            {{/if}}

            <button
                class="like-button"
                data-like-id="{{likeId}}"
                aria-pressed="false"
            >
                <div class="like-icon">
                    <img
                        src="https://assets.vangarsse.com/image/svg/heart-neutral-900.svg"
                        alt="Like button"
                    />
                </div>
                <span class="like-count">0</span>
            </button>

            <div class="description">
                {{description}}
                {{#if linkHref}}
                <br />
                <br />
                <a href="{{linkHref}}" target="_blank" rel="noopener noreferrer">
                    {{linkLabel}}
                </a>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>

    <div class="spacer-100"></div>
</div>