<div class="spacer-200"></div>

<div class="alt-section" id="artifacts-section">
    <h1 class="landing-page-title trigger-1">{{artifacts.title}}</h1>

    <div class="artifacts trigger-1">
        <div>
            <img
                class="lazyload"
                draggable="false"
                src="https://assets.vangarsse.com/image/artifacts/dear-data-book/small/1-front.jpg"
                data-src="https://assets.vangarsse.com/image/artifacts/dear-data-book/full/1-front.jpg"
                alt=""
            />
            <!-- Like button -->
            <button
                class="like-button"
                data-like-id="artefact-dear-data"
                aria-pressed="false"
            >
                <div class="like-icon">
                    <img
                        src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/heart_neutral_900.svg"
                        alt="Like button"
                    />
                </div>
                <span class="like-count">0</span>
            </button>
            <div class="description">{{artifacts.card7.description}}</div>
        </div>
        <div>
            <img
                class="lazyload"
                draggable="false"
                src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/artifacts/global-ocean-temperature-anomalies-poster_1_small.jpg"
                data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/artifacts/global-ocean-temperature-anomalies-poster_1.jpg"
                alt=""
            />
            <!-- Like button -->
            <button
                class="like-button"
                data-like-id="artefact-global-ocean-temperature-anomalies-poster"
                aria-pressed="false"
            >
                <div class="like-icon">
                    <img
                        src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/heart_neutral_900.svg"
                        alt="Like button"
                    />
                </div>
                <span class="like-count">0</span>
            </button>
            <div class="description">{{artifacts.card6.description}}</div>
        </div>
        <div>
            <img
                class="lazyload"
                draggable="false"
                src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/artifacts/futurismo-concept-poster_1_small.jpg"
                data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/artifacts/futurismo-concept-poster_1.jpg"
                alt=""
            />
            <!-- Like button -->
            <button
                class="like-button"
                data-like-id="artefact-futurismo-concept-poster"
                aria-pressed="false"
            >
                <div class="like-icon">
                    <img
                        src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/heart_neutral_900.svg"
                        alt="Like button"
                    />
                </div>
                <span class="like-count">0</span>
            </button>
            <div class="description">{{artifacts.card5.description}}</div>
        </div>
        <div>
            <img
                class="lazyload"
                draggable="false"
                src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/artifacts/black-holes_1_small.jpg"
                data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/artifacts/black-holes_1.jpg"
                alt=""
            />
            <!-- Like button -->
            <button
                class="like-button"
                data-like-id="artefact-black-holes"
                aria-pressed="false"
            >
                <div class="like-icon">
                    <img
                        src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/heart_neutral_900.svg"
                        alt="Like button"
                    />
                </div>
                <span class="like-count">0</span>
            </button>
            <div class="description">{{artifacts.card4.description}}</div>
        </div>
        <div>
            <video
                id="power-saver"
                class="lazyload"
                autoplay=""
                loop=""
                muted=""
                playsinline=""
                poster="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/thumbnails/d3g5_thumbnail.jpg"
            >
                <source
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/video/d3g5_av1.webm"
                    type="video/webm; codecs=av01.0.05M.08"
                />
                <!-- AV1 -->
                <source
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/video/d3g5_vp9.webm"
                    type="video/webm"
                />
                <!-- VP9 -->
                <source
                    src="https://file.garden/Z8RSCvtUnnZ9Xeo8/video/d3g5_h264.mp4"
                    type="video/mp4"
                />
                <!-- H.264 -->
                Your browser doesn't support HTML5 video.
            </video>
            <!-- Like button -->
            <button
                class="like-button"
                data-like-id="artefact-mailer"
                aria-pressed="false"
            >
                <div class="like-icon">
                    <img
                        src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/heart_neutral_900.svg"
                        alt="Like button"
                    />
                </div>
                <span class="like-count">0</span>
            </button>
            <div class="description">{{artifacts.card3.description}}</div>
        </div>
        <div>
            <img
                class="lazyload"
                draggable="false"
                src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/artifacts/sanguine-field-drawing_1_small.jpg"
                data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/artifacts/sanguine-field-drawing_1.jpg"
                alt=""
            />
            <!-- Like button -->
            <button
                class="like-button"
                data-like-id="artefact-sanguine-field-drawing"
                aria-pressed="false"
            >
                <div class="like-icon">
                    <img
                        src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/heart_neutral_900.svg"
                        alt="Like button"
                    />
                </div>
                <span class="like-count">0</span>
            </button>
            <div class="description">
                {{artifacts.card2.description}}
                <br />
                <br />
                <a
                    href="https://sanguine.vangarsse.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    >{{artifacts.card2.link}}</a
                >
            </div>
        </div>
        <div>
            <img
                class="lazyload"
                draggable="false"
                src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/artifacts/realm-of-dreams_1_small.jpg"
                data-src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/artifacts/realm-of-dreams_1.jpg"
                alt=""
            />
            <!-- Like button -->
            <button
                class="like-button"
                data-like-id="artefact-realm-of-dreams"
                aria-pressed="false"
            >
                <div class="like-icon">
                    <img
                        src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/heart_neutral_900.svg"
                        alt="Like button"
                    />
                </div>
                <span class="like-count">0</span>
            </button>
            <div class="description">{{artifacts.card1.description}}</div>
        </div>
    </div>

    <div class="spacer-100"></div>
</div>
