<div class="dropdown-menu" id="animated-dropdown">
    <a draggable="false" class="mobile-menu" href="#work-section"
        >{{nav.work}}</a
    >
    <a draggable="false" class="mobile-menu" href="#about-section"
        >{{nav.about}}</a
    >
    <a draggable="false" class="mobile-menu" href="#artifacts-section"
        >{{nav.artifacts}}</a
    >
    <a draggable="false" class="mobile-menu" href="#contact-section"
        >{{nav.contact}}</a
    >
    <p class="mobile-menu">{{contactInfo.email}}</p>
    <p class="mobile-menu">{{contactInfo.telephone}}</p>
    <a
        draggable="false"
        class="mobile-lang"
        href="../nl/"
        hreflang="nl"
        onclick="localStorage.setItem('preferredLanguage', 'nl')"
        >Nederlands<img
            draggable="false"
            class="lang-arrow-mobile"
            src="https://file.garden/Z8RSCvtUnnZ9Xeo8/image/svg/arrow-right-v2-neutral-100.svg"
            alt=""
    /></a>
</div>
