<div class="dropdown-menu" id="animated-dropdown">
    <a draggable="false" class="mobile-menu" href="#work-section"
        >{{nav.work}}</a
    >
    <a draggable="false" class="mobile-menu" href="#about-section"
        >{{nav.about}}</a
    >
    <a draggable="false" class="mobile-menu" href="#artifacts-section"
        >{{nav.artifacts}}</a
    >
    <a draggable="false" class="mobile-menu" href="#contact-section"
        >{{nav.contact}}</a
    >
    <p class="mobile-menu">{{contactInfo.email}}</p>
    <p class="mobile-menu">{{contactInfo.telephone}}</p>
    <div class="mobile-lang dropdown-language-switcher">
        <a draggable="false">
            <img
                src="https://assets.vangarsse.com/image/svg/globe-neutral-500.svg"
                alt=""
            />
            {{langSwitcher.current}}
        </a>
        <a
            draggable="false"
            href="{{langSwitcher.option1.href}}"
            hreflang="{{langSwitcher.option1.code}}"
            lang="{{langSwitcher.option1.code}}"
            onclick="localStorage.setItem('preferredLanguage', '{{langSwitcher.option1.code}}')"
        >
            <img
                src="https://assets.vangarsse.com/image/svg/globe-neutral-100.svg"
                alt=""
            />
            {{langSwitcher.option1.label}}
        </a>
        <a
            draggable="false"
            href="{{langSwitcher.option2.href}}"
            hreflang="{{langSwitcher.option2.code}}"
            lang="{{langSwitcher.option2.code}}"
            onclick="localStorage.setItem('preferredLanguage', '{{langSwitcher.option2.code}}')"
        >
            <img
                src="https://assets.vangarsse.com/image/svg/globe-neutral-100.svg"
                alt=""
            />
            {{langSwitcher.option2.label}}
        </a>
    </div>
</div>
