<!-- lazy load -->
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

<!-- scrolls smoothly to anchor -->
<script src="{{site.baseUrl}}/js/back-to-top-smooth-scroll.js"></script>

<!-- hides back to top arrow -->
<script src="{{site.baseUrl}}/js/initial-scroll-visibility.js"></script>

<!-- collapsible list of qualifications -->
<script src="{{site.baseUrl}}/js/collapsible.js"></script>

<!-- Animate when in view -->
<script src="{{site.baseUrl}}/js/animate-when-in-view.js"></script>

<!-- Dropdown menu -->
<script src="{{site.baseUrl}}/js/dropdown-menu.js"></script>

<!-- Detect Low Power mode -->
<script src="{{site.baseUrl}}/js/detect-low-power-mode.js"></script>

<!-- Resizes div based on scroll -->
<script src="{{site.baseUrl}}/js/scroll-resize.js"></script>

<!-- Shows slideshow of images -->
<script src="{{site.baseUrl}}/js/slideshow.js"></script>

<!-- Animates letters -->
<script src="{{site.baseUrl}}/js/interactive-letter-animation.js"></script>

<!-- Lazy load -->
<script src="{{site.baseUrl}}/js/lazyload.js"></script>

<!-- Like counter -->
<script src="{{site.baseUrl}}/js/like-counters.js"></script>
