<div class="spacer-150"></div>

<h1 class="landing-page-title trigger-1">{{skills.title}}</h1>

<div class="spacer-100"></div>

<div class="collapsible trigger-1">
    <button type="button">{{skills.card1.title}}</button>
    <div class="content">
        <div>{{skills.card1.description1}}</div>
        <div class="obscured">{{skills.card1.description2}}</div>
    </div>
</div>

<div class="collapsible trigger-1">
    <button type="button">{{skills.card2.title}}</button>
    <div class="content">
        <div>{{skills.card2.description1}}</div>
        <div class="obscured">{{skills.card2.description2}}</div>
        <div>{{skills.card2.description3}}</div>
        <div class="obscured">{{skills.card2.description4}}</div>
        <div>{{skills.card2.description5}}</div>
        <div class="obscured">{{skills.card2.description6}}</div>
        <div>{{skills.card2.description7}}</div>
        <div class="obscured">{{skills.card2.description8}}</div>
        <div>{{skills.card2.description9}}</div>
        <div class="obscured">{{skills.card2.description10}}</div>
        <div>{{skills.card2.description11}}</div>
        <div class="obscured">{{skills.card2.description12}}</div>
    </div>
</div>

<div class="collapsible trigger-1">
    <button type="button">{{skills.card3.title}}</button>
    <div class="content">
        <div>{{skills.card3.description1}}</div>
        <div class="obscured">{{skills.card3.description2}}</div>
        <div>{{skills.card3.description3}}</div>
        <div class="obscured">{{skills.card3.description4}}</div>
        <div>{{skills.card3.description5}}</div>
        <div class="obscured">{{skills.card3.description6}}</div>
        <div>{{skills.card3.description7}}</div>
        <div class="obscured">{{skills.card3.description8}}</div>
    </div>
</div>

<div class="collapsible trigger-1">
    <button type="button">{{skills.card4.title}}</button>
    <div class="content">
        <div>{{skills.card4.description1}}</div>
        <div class="obscured">{{skills.card4.description2}}</div>
        <div>{{skills.card4.description3}}</div>
        <div class="obscured">{{skills.card4.description4}}</div>
    </div>
</div>
